<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="/static/js/lib/vexflow.min.js"></script>
    <script src="/static/js/lib/soundfont-player.min.js"></script>
    <script src="/static/js/distributions.js"></script>
    <script src="/static/js/play.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/css/format.css">
</head>
<body>
    <header>
        <h1>Gnossiennes &#8470;. 1</h1>
        <h2>&infin;</h2>
    </header>
    <div id="controls">
        <button id="start" onclick="start()" disabled='disabled'>&#9656;</button>
        <button id="stop" onclick="stop()" disabled='disabled'>&#9632;</button>
    </div>
    <div id="notation"></div>

</body>
</html>
