<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
    <title>Gnossiennes No. 1: Infinite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

    <!-- libraries -->
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/vexflow.min.js"></script>
    <script src="/static/js/lib/soundfont-player.min.js"></script>
    <script src="/static/js/lib/tracery.min.js"></script>

    <!-- site code -->
    <script src="/static/js/distributions.js"></script>
    <script src="/static/js/grammar.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/engraver.js"></script>
    <script src="/static/js/controller.js"></script>
    <!--
    <script src="/static/js/gnossiennes.min.js"></script>
    -->

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/format.css">
</head>
<body>
    <header>
        <h1>Gnossiennes &#8470;. 1</h1>
        <h2>&infin;</h2>
    </header>
    <div id="start-container">
        <button aria-label="Play" id="start" onclick="start()" disabled="disabled">&#9656;</button>
    </div>
    <div id="notation"></div>

    <footer>
        <div id="controls">
            <button id="top" onclick="window.scrollTo(0,0);">scroll to top &#9650;</button>
            <button id="bottom" onclick="window.scrollTo(0,document.body.scrollHeight);">&#9660; scroll to bottom</button>
        </div>
        <div id="credits">
            by
            <a href="https://en.wikipedia.org/wiki/Erik_Satie" target="_blank">Erik Satie</a>
            and
            <a href="https://www.mousereeve.com/" target="_blank">Mouse Reeve</a>
        </div>
    </footer>
</body>
</html>
